body {
  background-image: url('../images/clouds.jpg');
}

.weather-box {
  background-color: rgba(169,169,169,.4);
  color: #000000;
  padding: 15px;
  margin-top: 150px;
  margin-left: 35%;
  width: 500px;
  font-family: 'Signika', sans-serif;
}

.weather-box h1 {
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color:  #000000;
}

.weather-list {
  font-size: 1.8em;
 }



